<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <NetworkMonitor.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stat_Send" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stat_Receive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Stat_Ping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PingAddress" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="UseHorizontalLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://github.com/CalebChalmers/NetworkMonitor</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UsePreReleases" serializeAs="String">
                <value>False</value>
            </setting>
        </NetworkMonitor.Properties.Settings>
    </userSettings>
</configuration>